*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
/* nav section start */
.nav-container{
    display: flex;
    align-items: center;
    margin: 15px 240px;
    padding: 25px 15px;
  
}
    

nav .logo{
    font-size: 25px;
    display: flex;
   justify-content: space-around;
   align-items: flex-end;
   padding: 30px 0px;
    
}
.logo-title{
    margin-left: 25px;
 
}
span{
   color:  #F948B2
 

}
.nav-title ul{
    display: flex;
    text-align: right;
    align-items: center;
    justify-content: space-around;
    margin-left: 600px; 
  
}
.nav-title ul li{
    /* font-size: 15px; */
    margin-left: 25px;
}
.nav-title ul li a{
    font-size: 15px;
    color: #3C354F;
}

i{
    margin-left: 25px;
}
/* nav section end */
/* banner section start */
main .top-container{
    margin: 30px 240px;
    display: flex;
    justify-content: space-around;
}
. section .title-contant{
    margin-right: 150px;
}
section .play-like{
    color: #0B0223;
    text-align: center;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
}
section .goat{

    
    text-align: center;
    font-size: 95px;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.sign-in{
    color: white;
    text-transform: uppercase;
    font-size: 15px;
    display: inline-flex;
    margin: 25px;
    padding: 21px 40px;
    align-items: flex-start;
    border-style: none;
    gap: 10px;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));

}
.gorouge{
    color: #FFF;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    background: #4EC5F7;
    border-style: none;
}
section .banner{
    margin: 5px 0px 30px 100px;

}
/* banner section end */
/* we are gamer section start */
.we-are-gamer{
   display: flex;
   margin: 50px 240px;
}
.we-are-gamer-contant{
    text-align: right;
    padding-top: 55px;
}
section .gamer-title{
    text-align: right;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
   
}
section .gamer-pg{
    color: #534C64;
    text-align: right;
     font-size: 18px;
    font-weight: 400;
    line-height: 30px; 
    padding: 20px 0px;
}
.know-more-btn{
    color: #FFF;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-flex;
    padding: 20px 35px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    border-style: none;
}
.our-perpuse{
    padding: 25px 0px;
    color: #534C64;
}
/* we are gamer section end */

/* online video section start */


.games-video-title{
    color: #0B0223;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
   
}
.games-video-pg{
   text-align: center;
   color: #534C64;
   padding: 20px 0px;
}
.video-container{
    display: flex;
   margin: 40px 240px;
   justify-content: space-around;
   align-items: center;
}
/* online video section end */

/* play instantly section start */

.play-instant-content{
    display: flex;
    margin: 50px 240px;
    padding-top: 50px;
    text-align: right;
    
}
.play-instant-title{
    padding: 150px 255px 0px 185px;
    text-align: right;
    font-size: 48px;
    font-weight: 700;
   
}
.play-instant-pg{
    padding-right: 270px;
    padding-top: 20px;
}
.play-instant-corner{
    align-items: right;
    padding-left: 875px;
    margin-top: -345px;

  
}
/* play instantly section end */

/* game catagory section start */
.bottom-section-container{
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);

}
.bottom-section-container{
    margin: 30px 240px;
    display: grid;
    grid-template-columns: repeat(5,2fr);
    gap: 15px;
    
   
  
  
}
.imaage-with-pg{
    width: 235px;
    height: 75px;
    border-color: #FF42A5;
    display: flex;
    align-items: center;
    border:rgba(255, 66, 165, 0.03);
    padding: 15px 10px 15px 10px;
    background: white;
    border-radius: 50px;
}
.imaage-with-pg :hover {
    color: red;
    border-radius: 50px;
    border: #F948B2;

}
/* game catagory section end */

/* footer section start */
.Footer-container{
    padding: 0px 240px;
    width: 1920px;
    height: 600px;
    background: #0B0223;

}
.footer-logo{
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    padding: 55px;
    font-size: 30px;

}
.our-story{
    padding: 0px 160px;
    display: flex;
    justify-content: space-between;
    color: #FFF;
}
.footer-icon{
    text-align: center;
    font-size: 40px;
    padding: 55px 300px 55px 300px;
    align-items: center;
}
.privacy{
    padding: 0px 350px;
    display: flex;
    justify-content: space-between;
    color: #FFF;
}
.copyright{
    color: #FFF;
    text-align: center;
    padding-top: 75px;
}
/* footer section end */

